:root {
	--dark-mode-elements: hsl(209, 23%, 22%);
	--dark-mode-bg: hsl(207, 26%, 17%);
	--light-mode-elements: #fff;
	--light-mode-bg: hsl(0, 0%, 98%);
}

$primary-color: #d6d6d6;
$secondary-color: #434343;
$primary-yellow: #ffd859;
$secondary-yellow: #fac001;
$another-yellow: #fff9e0;
$white: #fff;
$gray: #b4b4b4;

$green-special: #bcff02;
$green-secondary: #34b299;
$green-shadow: #136454;
