:root {
	--dark-mode-elements: hsl(209, 23%, 22%);
	--dark-mode-bg: hsl(207, 26%, 17%);
	--light-mode-elements: #fff;
	--light-mode-bg: hsl(0, 0%, 98%);
}

$primary-color: #d6d6d6;
$secondary-color: #434343;
$tetriary-color: rgb(255, 216, 89);
$white: white;
