@use '/src/abstract/variables' as *;

.header {
	background-color: transparentize(rgba(rgb(0, 0, 10), 0.7), 0.3);
	font-weight: bold;
	font-size: 28px;
	padding: 20px;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);

	&_container {
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
		margin: 0 40px;

		.logo {
			display: flex;
			flex-direction: column;
			align-items: center;
			font-family: 'Starjedi', sans-serif;
			color: $primary-yellow;
		}
	}
}
