@use '/src/abstract/variables' as *;

.header {
	background-color: $secondary-color;
	font-weight: bold;
	font-size: 28px;
	padding: 20px;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

	&_container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		max-width: 1400px;
		margin: 0 auto;

		.logo {
			font-family: 'Starjedi';
			color: $tetriary-color;
		}

		.buttons {
			&__btn-primary {
				align-items: center;
				background-color: #fcfcfd;
				border-radius: 4px;
				box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
					rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
					#d6d6e7 0 -3px 0 inset;
				box-sizing: border-box;
				color: #36395a;
				cursor: pointer;
				font-family: 'JetBrains Mono', monospace;
				height: 48px;
				justify-content: center;
				line-height: 1;
				padding-left: 16px;
				padding-right: 16px;
				text-align: left;
				transition: box-shadow 0.15s, transform 0.15s;
				will-change: box-shadow, transform;
				font-size: 18px;
			}

			&__btn-primary:hover {
				background-color: rgb(255, 216, 89);
				box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
					rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
					#fac001 0 -3px 0 inset;
				transform: translateY(-1px);
				transition: 0.2s;
			}

			&__btn-primary:active {
				box-shadow: #8a5000 0px 3px 7px inset;
				transform: translateY(3px);
			}
		}
	}
}
