@use '/src/abstract/variables' as *;

.btn-container {
	background-color: transparentize(rgba(rgb(0, 0, 10), 0.7), 0.3);
	display: flex;
	justify-content: center;
	position: sticky;
	width: 100%;
	top: 0;

	&__primary {
		font-family: 'Poppins', sans-serif;
		font-size: 16px;
		color: $gray;
		border-left: 2px $gray solid;
		background-color: transparent;
		padding: 15px 40px;
		border: 3px transparent solid;
		cursor: pointer;
		letter-spacing: 2px;
		transition: 0.2s;
	}
	&__primary:hover {
		border-bottom: 3px $green-special solid;
		font-weight: bold;
		-webkit-box-shadow: 0px 8px 10px -3px rgba(168, 255, 58, 1);
		-moz-box-shadow: 0px 8px 10px -3px rgba(168, 255, 58, 1);
		box-shadow: 0px 8px 10px -3px rgba(168, 255, 58, 1);
	}
}
